header {
    height: auto;
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
    color: #000;
    width:100%;
    z-index: 1;
}

.content-wrapper{
    background-color: white;
    top: 87%;
    min-height: 12%;
    position:absolute;
    z-index: 2;
    width: 100%;    
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

section {
    padding: 100px 0;    
    width: 100%;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

.bottom-margin20 {
    margin-bottom: 20px;
}
.left-align-text {
    text-align: left;
}

.error {
    color:red;
}
.alert {
    margin-top: 60px;
}